<!doctype html>
<html lang="en" ng-app="ToDoList">
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="js/app.js"></script>
    <script src="js/toDoListController.js"></script>
  </head>

  <body ng-controller="toDoListController as listCtrl" class="container">
    <div>
      <h1>To Do List</h1>
    </div>
    <div>
      <form class="form-horizontal">
        <input type="text" ng-model="listCtrl.addTaskField" placeholder="Add your task here...">
        <button class="btn" ng-click="listCtrl.addTask()">Add Task</button>
        <button ng-click="listCtrl.clearCompleted()" class="btn btn-default" type="button">Clear Completed</button>
      </form>
    </div>

    <br>
    <div class="nav nav-tabs">
      <button ng-click="listCtrl.setView(1)" class="btn btn-default" type="button">All</button>
      <button ng-click="listCtrl.setView(2)" class="btn btn-default" type="button">Active</button>
      <button ng-click="listCtrl.setView(3)" class="btn btn-default" type="button">Completed</button>
    </div>

    <br>
    <div ng-show="listCtrl.taskList.length > 0">
      Total Tasks: <span class="badge">{{listCtrl.taskList.length}}</span>
    </div>

    <br>
    <div>
      <ul class="list-group-item" ng-show="listCtrl.isView(1)">
        <ul ng-repeat="item in listCtrl.taskList">
          <input ng-model="item.isCompleted" id="completeCheckbox" type="checkbox"> {{ item.taskName }}
        </ul>
      </ul>

      <ul class="list-group-item" ng-show="listCtrl.isView(2)">
        <ul ng-repeat="item in listCtrl.taskList | filter: { isCompleted: false }">
          <input ng-model="item.isCompleted" id="completeCheckbox" type="checkbox"> {{ item.taskName }}
        </ul>
      </ul>

      <ul class="list-group-item" ng-show="listCtrl.isView(3)">
        <ul ng-repeat="item in listCtrl.taskList | filter: { isCompleted: true }">
          <input ng-model="item.isCompleted" id="completeCheckbox" type="checkbox"> {{ item.taskName }}
        </ul>
      </ul>
    </div>
  </body>
</html>
